@charset "utf-8";/*文字コードの設定*/
/*---------色・柄に関する設定（模様替えなどにお使いください）-----*/
body{
	background-color: pink;
}

main{/*-------------------------------------------コンテンツ表示部分*/
	background-color: white;/*背景色*/
	border: 0.2em dashed pink;
	border-bottom-style: none;
	box-shadow: 0 0 0 0.2em white;
}
/*--------------------------------------------見出しの文字の前の装飾*/
h2::before{
	content:"★";
}
h3::before{
	content:"▽";
}
h4::before{
	content:"＊";
}
h2::before,h3::before,h4::before{
	/*装飾の文字色を設定*/
	color: pink;
}
header{/*---------------------------------------------------ヘッダー*/
	background-color: white;/*背景色*/
	border: 0.2em dashed pink;
	border-top-style: none;
	box-shadow: 0 0 0 0.2em white;
}
#humburger_menu_icon div{/*-------------ハンバーガーメニューアイコン*/
	background-color: pink;/*色*/
}
#humburger_menu_icon{
	color: deeppink;
}
#night{/*---------------------------------------ナイトモードアイコン*/
	box-shadow: inset -1.25vmin -1.25vmin 0 0 pink;/*一番後ろが色*/
}
#mail{/*----------------------------------------メールアイコン　外側*/
	border: 1px solid pink;/*輪郭の設定*/
}
#mail div{/*------------------------------------メールアイコン　内側*/
	border-color: pink;/*色*/
}
#head_menu{/*-------------------------------------共通メニューの設定*/
	background-color: transparent;
}
#head_menu div a{/*---------------------------共通メニューボタンの設定*/
}
#head_menu div div{/*----------------ドロップダウンメニュー全体の設定*/
	border: 1px solid pink;/*囲みボーダーの色*/
	background-color: white;	/*背景色*/
	border-radius: 0.25em;
}
#head_menu div div a{/*-----------ドロップダウンメニューボタンの設定*/
}
#site_history p{/*----------------------------------更新履歴表示部分*/
	border: 1px solid pink;/*枠*/
}
footer{/*---------------------------------------------------フッター*/
	background-color:transparent;/*背景色*/
}
#go_pagetop{/*--------------------------------------ページトップへgo*/
	background-color: rgba(255, 255, 255, 0.7);	/*背景色*/
	color: black;/*文字色*/
}
.next_prev_move a{/*----------------------前　メニュー　次　のボタン*/
	border: 1px solid pink;/*枠*/
}
#auto_images div a{/*-----------------------------------ズームボタン*/
	background-color: pink;/*背景色*/
}
#auto_images_all div:hover{/*-----------画像一覧表示の際のオンマウス*/
	border: 1px solid pink;	/*ボーダー*/
}
#auto_images_menu a{/*----------------------画像拡大など右上のボタン*/
	background-color: pink;/*背景色*/
}
#name_change_button{/*--------------------------------名前変換ボタン*/
	border:1px solid pink;/*枠*/
}
#character_name_changer{/*--------------------------名前変換フォーム*/
	background-color:rgba(255,255,255,0.8);	/*背景色*/
}
.main_menu a::before,.para_menu a::before{/*メインメニューの文字の前につけるマーク*/
	content:"■";		/*マーク*/
	color: pink;	/*色*/
}
.main_image_text_menu a{/*----------------画像＆テキストメニューの設定*/
	border: 1px solid pink;	/*枠*/
}
@media(max-width: 480px){/*--------------------------------------------------------------スマホ版*/

#head_top{/*--------------------------------------スマホ版のヘッダー*/
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);/*影をつける*/
	background-color: white;/*背景色*/
}
#head_menu{/*---------------------------------------共通メニュー全体*/
	background-color: rgba(0,0,0,0.7);	/*色を透かす（透けた黒）*/
}
#head_menu div{/*-----------------------------------メニュー表示部分*/
	background-color: white;/*背景色*/
}
#head_menu div a{/*-------------------------メニュー　1つ1つのリンク*/
	border-top: 1px dotted pink;	/*上側にドットの区切り線*/
}
#close_menu{/*------------------------------------------閉じるボタン*/
	color: white;/*×の文字色*/
}
.main_menu a,.para_menu a{/*------------------メインメニューのボタン*/
	border-bottom: 1px dotted pink;/*区切り線*/
}

}
/*----------------------色・柄に関する設定ここまで---------------------*/





/*以下、できるだけ変更を加えないでください*/
/*--------------------全体の初期設定-------------------------*/
*{
	margin:0;				/*余白（外側）をゼロに*/
	padding:0;				/*余白（内側）をゼロに*/
	box-sizing: border-box;	/*サイズをボーダー込みで計算*/
}

/*------------------表示部分全体の設定-----------------------*/
#all{
	min-height: 100vh;		/*フッターを必ず下に表示するため，縦幅を画面いっぱいに広げる*/
	position: relative;		/*子要素のposition:absoluteを有効にするための措置*/
	max-width: 940px;		/*横幅の上限，中央寄せデザインにするため（画面いっぱいに広げたい場合，この記述を消去しても可）*/
	margin: 0 auto;			/*中央寄せ*/
	line-height: 1.7;	/*行の高さ*/
	visibility: hidden;	/*最初は表示しない*/
}

/*--------------------タグ本体に対する設定-------------------*/
main{/*コンテンツ表示部分*/
	padding:1% 2.5%;		/*内側余白*/
	padding-bottom: 3.5em;	/*フッター用のパディング(サイズを要検討)*/
	border-radius: 0.5em 0.5em 0 0;
	min-height: 70.7vmin;
}

p{/*段落（小説部分では解除）*/
	margin-bottom: 1.5em;	/*下方余白*/
}
table{/*表*/
	border-collapse: collapse;	/*区切り線を重ねて表示*/
	margin-bottom: 1.5em;
}
td{/*テーブルセル*/
	padding: 0.1em 0.25em;
}

/*見出しの設定（文字数に応じてサイズを調整してください）*/
h1{/*サイトタイトル*/
	font-size: 6vmin;
	width: 100%;
	line-height: 10vmin;
}
@media(max-width: 480px){/*サイトロゴ設定*/
	h1{
		margin-top: 0.1em;
	}
}

h2,h3,h4{/*文中に使用する見出し*/
	font-weight: normal;	/*太字を解除*/
	margin-top: 0.3em;		/*上方余白*/
}

/*全ての画像を左右中央揃え & レスポンシブ*/
img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/*リンクに関する設定*/
a{	cursor: pointer;/*カーソルを変更*/
	text-decoration: none;/*テキストの装飾をなしに*/
}
a:hover{/*マウスオーバー時*/
	opacity: 0.5;/*透ける*/
}
a:link{/*リンクが設定*/
	color: currentColor;	/*色を変えない*/
}
a:visited{/*訪問済みリンク*/
	color: currentColor;	/*色を変えない*/
}
a.disabled{
	pointer-events: none;	/*クリックできなくする*/
}
a[target="_blank"]::after{/*別窓アイコン*/
	content: "";							/*仮にコンテンツを入れる*/
	display: inline-block;					/*サイズを持たせるための変更*/
	background-image:url("img/_blank.png");	/*背景*/
	background-size: contain;				/*背景を枠内におさめる*/
	width: 1em;								/*幅*/
	height: 1em;							/*高さ*/
	margin-left: 0.2em;						/*外側余白*/
}
#icon_set a::after,#auto_images div a::after{/*別窓アイコンを解除*/
	display: none;
}


/*--------------------ヘッダーの設定-----------------------*/
header{/*ヘッダー全体*/
	width: 100%;	/*表示を全体に広げる*/
	padding-bottom: 1em;
	margin-bottom: 3%;
	border-radius: 0 0 0.5em 0.5em;
}

#top_explain_text{/*簡易紹介文*/
	font-size: 80%;							/*フォントを小さく*/
	padding: 0.5em;							/*内部余白*/
}

#head_top{/*ヘッダー上部（サイトロゴ，アイコン）*/
	width: 100%;							/*表示を全体に広げる*/
	height: 10vmin;							/*高さを画面の10分の1に*/
	padding: 0 0.25em;						/*内側余白*/
  -webkit-justify-content: space-between;	/*要素を両端に表示*/
          justify-content: space-between;
            -ms-flex-pack: space-between;
  -webkit-align-items: center;				/*要素を上下中央に表示*/
       -ms-flex-align: center;
          align-items: center;
	z-index: 4;								/*重なった場合の表示順*/
}

/*ハンバーガーメニューの設定()*/
#humburger_menu_icon{/*アイコンの設定*/
	display: none;					/*PC版では非表示*/
	padding: 1vmin 1vmin 0 1vmin;	/*内側余白*/
	text-align: center;				/*menu の文字を中央寄せ*/
	font-size: 2.2vmin;				/*画面サイズに応じて文字サイズを変化*/
	line-height: 1.2;				/*行の高さ*/
}

#humburger_menu_icon div{/*アイコンの線の設定*/
	width: 7vmin;				/*幅*/
	height: 1vmin;				/*高さ*/
	margin: 0 auto;				/*中央寄せ*/
	margin-top: 1vmin;			/*上側の余白*/
	border-radius: 0.5vmin;		/*角を丸くする*/
}

#site_title_logo{/*サイトロゴの設定*/
	width: 50%;									/*幅*/
	height: 100%;								/*高さ*/
	background-image: url("img/titlelogo.png");	/*CSSからのパス*/
	background-repeat: no-repeat;				/*背景画像を繰り返さない*/
	background-size: contain;					/*背景が要素内に収まるようにする*/
	background-position: left center;			/*背景を左寄りに*/
}

/*ヘッダー内アイコンの設定*/
#icon_set{/*アイコンの外側の要素の設定*/
	text-align: right;							/*アイコンを右寄せに*/
}
#night{/*ナイトモードアイコン*/
	width: 6vmin;										/*横幅*/
	height: 6vmin;										/*縦幅*/
	border-radius: 50%;									/*角を丸くする*/
}
#mail div{/*メールアイコン　内側*/
	border-style: solid;			/*ボーダーを表示*/
	border-width: 2.2vmin 3.0vmin;	/*ボーダー太さ縦横比　ボーダーを四隅から大きくすることでメールマークに*/
	border-top-color: transparent;	/*背景と同じ色*/
}
.my_icon{/*自身で設置したアイコンの設定*/
	width: 6vmin;						/*横幅*/
	height: 6vmin;						/*縦幅*/
	padding:0;							/*余白なし*/
	margin-left:0.6vmin;				/*左側に余白を空ける*/
	background-repeat: no-repeat;		/*背景を繰り返さない*/
	background-size: contain;			/*背景をサイズに収める*/
	background-position: center center;	/*背景を上下中央揃えに*/
	display: inline-block;				/*改行なし*/
}

/*共通メニューの設定*/
#head_menu{/*全体の設定*/
	margin: 0 0 0.2em 0;				/*外側余白*/
	font-size: 110%;					/*文字サイズを大きくする*/
}
#head_menu div{/*ボタンの設定*/
	width: 0;		/*幅を1度なくしておく*/
	flex-grow: 1;	/*伸長係数を設定（幅をそろえるため）*/
	flex-shrink: 1;	/*伸縮係数を設定（幅をそろえるため）*/
}
#head_menu div a{/*ボタン内のリンクの設定*/
	display: block;					/*ブロック要素にする*/
	width: 100%;					/*幅を一杯に広げる*/
	text-align: center;				/*文字を中央揃え*/
}
#head_menu div:last-child a{/*ボーダーを消す*/
	border-right-style: none;	/*最後の要素だけボーダーを消す*/
}
#head_menu div span{/*？？*/
	display: none;
}

/*ドロップダウンメニュー(第2レベル)の設定*/
#head_menu div div{/*全体の設定*/
	position: absolute;			/*表示位置の設定*/
	width: auto;				/*横幅を初期値に*/
	display: none;				/*初期状態では非表示*/
}
#head_menu div div a{/*ボタンの設定*/
	display:block;						/*ブロック要素にする*/
	padding: 0.25em 0.5em;				/*内側余白*/
	text-align: left;					/*文字の右寄せ　左寄せ*/
	font-size: 85%;						/*フォントサイズを小さく*/
}
#head_menu div div a:last-child{/*最後の要素*/
	border-bottom-style: none;	/*ボーダーを消す*/
}

#close_menu{/*×ボタン*/
	display: none;	/*PC版では表示しない*/
}

#top_image{/*トップページ画像の設定*/
	width: 100%;	/*横幅を*/
}
#bread{/*パンくずリスト*/
	font-size: 90%;		/*文字を少し小さく*/
	margin-top: 0.5em;	/*外側上方余白*/
}

/*---------------------------更新履歴の設定----------------------------*/
#site_history{/*全体設定*/
	width: 95%;			/*横幅を少し小さく*/
	font-size: 90%;		/*文字を少し小さく*/
	margin: 0.8em auto;	/*余白*/
}

#site_history p{/*更新履歴表示部分*/
	width: 100%;				/*横幅*/
	height: 5em;				/*縦幅（3行くらい表示できる）*/
	overflow-y: scroll;			/*スクロールさせる*/
	padding-left: 0.5em;		/*余白*/
	padding-top: 0.5em;
}

/*---------------------------フッターの設定----------------------------*/
footer{/*全体設定*/
	position: absolute;					/*一番下に表示させるためabsolute*/
	bottom: 0;							/*下から0位置*/
	width:100%;							/*幅100%*/
	font-size: 80%;						/*フォントを少し小さく*/
}

/*フットリンクの設定*/
#foot_link{/*全体設定*/
	text-align: center;	/*中央揃え*/
	padding-top: 0.5em;	/*内部余白*/
}
#foot_link:empty{/*フットリンクの中身が無い場合*/
	display: none;	/*折りたたむ*/
}
#foot_link a{/*中身のリンク*/
	padding: 0 1em;	/*間を空ける*/
}
#foot_link span{/*中身の文字*/
	text-indent: 1em;	/*微調整？*/
}

#copy_right{/*コピーライト*/
	text-align: center;	/*中央揃え*/
}


/*---------------------------ページ下方アイテムの設定----------------------------*/
/*ページトップへgo*/
#go_pagetop{
	position: fixed;							/*位置固定*/
	right: 1vw;									/*画面サイズに合わせて位置を設定*/
	bottom: 1vh;								
	padding: 0 0.5em;							/*内側余白*/
	border-radius: 0.25em;						/*丸みを持たせる*/
}

/*前　メニュー　次　の設定*/
.next_prev_move{/*全体*/
	margin-top: 0.5em;				/*外側余白*/
	justify-content: space-between;	/*表示方法左　中央　右*/
	font-size: 110%;				/*フォントを少し大きく*/
}
.next_prev_move a{/*ボタン*/
	border-radius: 0.5em;			/*角を丸く*/
	padding: 0 0.5em;				/*内側余白*/
}

/*---------------------------オートイメージの設定-----------------------------*/
#auto_images div{/*全体*/
	height: 100vh;					/*高さを縦幅いっぱいに*/
	padding-top: calc(2em + 3vh);	/*トップ*/
	align-items: center;			/*アイテム中央揃え*/
    justify-content: center;		/*アイテム上下中央揃え*/
}
#auto_images div span{/*画像とコメントのセット*/
	display: inline-block;			/*インライン要素に*/
	max-width: calc(100% - 5em);	/*余白を残して横幅変更*/
	text-align:center;				/*文字中央揃え*/
}
#auto_images img{/*画像*/
	max-height: calc(98vh - 5.5em);	/*余白を残して縦幅変更*/
	width: auto;					/*横幅の設定を初期値に*/
	max-width: 100%;				/*横幅を全体に*/
}
#auto_images img:hover{/*画像にオンマウス*/
	cursor: pointer;	/*ポインターに*/
}
#auto_images div a{/*ズームボタン*/
	display: block;							/*ブロック要素に*/
	width: 2em;								/*横幅*/
	height: 2em;							/*高さ*/
	margin-right: 0.5em;					/*右側に余白*/
	background-image: url("img/zoom.png");	/*背景画像*/
	background-size: contain;				/*背景画像を枠内に収める*/
}

/*オートイメージの設定_zoomバージョン*/
#auto_images_zoom div{/*全体*/
	height: initial;		/*高さを画像依存に*/
	padding-bottom: 1%;		/*余白をつける*/
	align-items: center;	/*アイテムを上下中央寄せ*/
    justify-content: center;/*アイテムを左右中央寄せ*/
}
#auto_images_zoom div span{/*画像と説明のセット*/
	max-height: initial;	/*高さを画像依存に*/
	max-width: 100%;		/*横幅を最大まで（ズームアイコンがない分）*/
	display: inline-block;	/*インラインブロック要素に*/
	text-align: center;		/*テキスト中央揃え*/
}
#auto_images_zoom img{/*画像*/
	max-height: initial;	/*高さを画像のサイズそのままに*/
	max-width: 100%;		/*横幅を最大まで（ズームアイコンがない分）*/
}
#auto_images_zoom div a{/*ズームボタン*/
	display: none;	/*表示しない*/
}

#auto_images_zoom img:hover{/*オンマウス時*/
	cursor: pointer;/*カーソルをポインターに*/
}
/*オートイメージの設定_一覧バージョン*/
#auto_images_all div{/*全体*/
	width: 20%;				/*横幅をを小さく*/
	height: 13vw;			/*縦幅も小さく*/
	display: inline-block;	/*横並びにするためにインラインに*/
}

#auto_images_all img{/*画像*/
	max-width: 100%;	/*縦か横を幅いっぱいに広げる*/
	max-height: 100%;
}
#auto_images_all div a{/*ズームボタン*/
	display: none;	/*非表示*/
}
#auto_images_all div p{/*説明文*/
	display: none;	/*非表示*/
}
#auto_images_all img:hover{/*オンマウス*/
	cursor: pointer;	/*カーソルをポインターに*/
}

/*右上のメニュー*/
#auto_images_menu{/*全体*/
	position: sticky;			/*はみ出そうになったら位置固定*/
	position: -webkit-sticky;	/*Chrome用*/
	top: 3vh;					/*上側の位置（余白）*/
	width: 100%;				/*幅100%*/
	display:block;				/*ブロック要素にする*/
	text-align: right;			/*右に寄せる*/
}

#auto_images_menu a{/*ボタン*/
	display: inline-block;		/*インライン要素にする*/
	width: 2em;					/*幅*/
	height: 2em;				/*高さ*/
	background-size: contain;	/*背景画像を枠内に収める*/
	margin-left: 0.5em;			/*左側余白*/
}
#auto_images_zoom_icon{/*ズームアイコン*/
	background-image: url("img/zoom.png");
}
#auto_images_all_icon{/*一覧表示アイコン*/
	background-image: url("img/all_view.png");
}

/*画像カウントの設定*/
#auto_images_count{/*画像の枚数*/
	vertical-align: top;	/*行内の位置を上に合わせる*/
}


/*------------------------------文章の設定----------------------------------*/
#novel_text{/*全体*/
	padding-top: 2em;	/*上側に余白を空ける*/
}

/*名前変換の設定*/
#name_change_button{/*右上の名前変換ボタン*/
	padding: 0 0.5em;			/*左右に内側余白をつける*/
	border-radius: 0.5em;		/*角を丸くする*/
	position:absolute;			/*表示位置を自由に*/
	right:1vw;					/*表示位置（右側に寄せる）*/
	display: none;				/*最初は非表示*/
}
#character_name_changer{/*名前変換フォーム*/
	text-align:center;						/*テキスト中央揃え*/
	position:absolute;						/*表示位置を自由に*/
	right:1vw;								/*表示位置（右側に寄せる）*/
	margin-top:2em;							/*上余白*/
	padding: 0.5em;							/*内側余白*/
}

/*--------------------------メインメニューの設定----------------------------*/
.main_menu,.para_menu{/*全体*/
	margin: 0.5em;	/*上下左右に余白*/
}
.main_menu a,.para_menu a{/*それぞれのリンク*/
	display: inline-block;	/*インラインブロック要素に*/
	min-width: 50%;			/*50%まで広げる（越える場合は改行）*/
	padding-bottom: 0.5em;	/*内側余白*/
	padding-left: 0.5em;	/*内側余白*/
}

/*--------------------------画像メニューの設定------------------------------*/
.main_image_menu, .main_image_text_menu{/*全体*/
	margin-bottom: 1.5em;		/*下に余白*/
}
.main_image_menu a{/*ボタン*/
	text-align: center;	/*テキスト中央揃え*/
	margin: 0.5%;		/*外側余白*/
	width:22%;			/*画像の幅，ここの数値要検討*/
	min-width:200px;	/*最小サイズ，ここの数値要検討*/
	position: relative;	/*別窓マーク表示位置調整用*/
}
.main_image_menu a::after,.main_image_text_menu a::after{/*別窓マーク*/
	position: absolute;	/*表示位置を自由に*/
	margin: 0.1em;		/*外側余白*/
	bottom: 0;			/*右に寄せる*/
	right: 0;			/*下に寄せる*/
}

/*-----------------------画像＆テキストメニュの設定--------------------------*/
.main_image_text_menu{/*全体*/
	width: 100%;						/*全体に広げる*/
  -webkit-justify-content: space-around;/*スペースを一定に配置*/
          justify-content: space-around;
            -ms-flex-pack: space-around;
}
.main_image_text_menu a{/**/
  -webkit-flex-direction: column;	/*画像と文字が縦並び*/
          flex-direction: column;	
	border-radius: 0.5em;			/*角を丸くする*/
	width: 19%;						/*5つ並ぶようにする*/
	margin-bottom: 0.5em;			/*余白*/
	padding: 0.5em;					/*内側余白*/
	position: relative;				/*別窓マーク表示位置調整用*/
}
.main_image_text_menu a div{/*中身の画像（背景として実現）*/
	background-repeat: no-repeat;		/*リピートしない*/
	background-position: center center;	/*上下中央揃え*/
	background-size: contain;			/*画像を領域内に収める*/
	height: 5em;						/*高さ*/
}
.main_image_text_menu a span{/*文字の部分*/
	text-align: center;	/*テキスト中央揃え*/
}

/*--------------------アコーディオンメニューの設定----------------------------*/
.accordion_menu>label{/*ラベル（常に表示されている部分）の設定*/
	cursor: pointer;	/*カーソルをポインターに*/
}
.accordion_menu>label *{/*ラベル内に設置した要素すべて*/
	display: inline;	/*インライン要素に*/
	margin-right: 1em;	/*右側に余白を空ける*/
}
.accordion_menu>label::after{/*メニューが展開していないとき*/
	content:"+";	/*ラベル後ろのマーク*/
}
.accordion_menu>input:checked+label::after{/*メニューが展開されているとき*/
	content:"-";	/*ラベル後ろのマーク*/
}
.accordion_menu input{
	display:none;
}
.accordion_menu input:not(:checked)~:not(label){/*ラベル以外（チェック前）*/
	display: none;	/*初期状態では非表示*/
}

/*--------------------フレックスボックスの設定（全体）-------------------*/
.flexbox, .image_text_flex{/*フレックスボックスにしたい要素にはこれをつける*/
  display: -webkit-box;   /* Chrome 4-20, Firefox 2-21, Safari 3.1-6.0 */
  display: -webkit-flex;  /* Chrome 21-27 */
  display: -moz-box;      /* Firefox 2-21 */
  display: -ms-flexbox;   /* IE9 */
  display: flex;

  -webkit-flex-wrap: wrap;		/*幅が超えた場合改行*/
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;	/*上下に引き伸ばして高さを揃える*/
       -ms-flex-align: stretch;
          align-items: stretch;
}

/*-------------------画像⇔文字横並びの設定（紹介用）---------------------*/
.image_text_flex img{/*画像部分*/
		min-width: 280px;	/*最低サイズ*/
	}
@media(max-width: 680px){/*スマホ版（より少し大きい）*/
	.image_text_flex{	/*テキスト部分*/
		display: block;	/*ブロック要素にする（改行する）*/
	}
}


/*---------------------------スマホ版の設定--------------------------------*/
@media(max-width: 480px){
#all{/*全体の設定*/
	font-size: 87.5%;	/*基本のフォントサイズ（小さめに）*/
}
main{
	border-radius: initial;
	border: none;
	min-height: calc(100vh - 10vw);
}

/*-----------------ヘッダーの設定---------------------*/
#top_explain_text{/*簡易紹介文*/	
	display: none;	/*表示しない*/
}
header{/*全体*/
	padding-top: 10vmin;/*内側余白*/
	padding-bottom: 0;
	margin: 0;
	border: none;
}
#head_top{/*スマホ版のヘッダー*/
	position: fixed;							/*位置を固定*/
	top: 0;										/*固定位置を上部に*/
  -webkit-flex-wrap: nowrap;					/*幅が超えても改行しない*/
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

/*ハンバーガーメニューとサイトメニュー*/
#humburger_menu_icon{/*アイコン*/
	display: block;	/*スマホ版では表示*/
}
#head_menu{/*共通メニュー全体*/
	margin: 0;							/*余白を無くす*/
	flex-direction: column;				/*flexBoxを縦並びに*/
	position: fixed;					/*位置固定（スクロールに対して）*/
	top: 0;								/*左上に固定*/
	left: 0;							
	width: calc(200vw - 100%);			/*スクロールバー隠し（必要かどうか要検討）*/
	height: 100vh;						/*高さを表示幅いっぱいに広げる*/
	display: none;						/*初期設定は表示なし*/
	z-index: 5;							/*上に重なるように表示（ヘッダーは4）*/
	overflow-x: hidden;					/*スクロールバー隠し（必要かどうか要検討）（右にはみ出てもスクロールしない）*/
	overflow-y: scroll;					/*メニューが画面をはみ出てもスクロールできるようにする*/
}

#head_menu div{/*メニュー表示部分*/
	width: 80%;				/*幅を*/
	position: relative;		/*アニメーション適用用*/
}
#head_menu div a{/*1つ1つのリンク*/
	padding: 0.4em 1em;					/*内側余白を調整**/
	border-right-style: none;			/*右側ボーダーを消す*/
	text-align: left;					/*テキスト左揃え*/
}
#head_menu div:first-child a{/*一番最初*/
	border-top-style: none;	/*ボーダーを消す（できてない？）*/
}

/*ボタンのマーク*/
/*#head_menu a::after{
	content: ">";
	position: absolute;
	right: 0.5em;
}*/

/*ドロップダウンメニュー(第2レベル)の設定*/
#head_menu div div{		/*全体の囲い*/
	position: static;	/*ポジションを元に戻す*/
	display: block;   	/*最初から表示*/
	border-style: none; /*ボーダーをなくす*/
}
#head_menu div div a{/*1つ1つのリンク*/
	border-style: none; /*ボーダーをなくす*/
	text-indent: 1.5em; /*第2レベルにはインデントをつける*/
	padding: 0.25em 0;  /*余白を調整*/
}

#close_menu{/*閉じるボタン*/
	display: block;							/*表示する*/
	position: absolute !important;			/*表示位置を自由に*/
	font-size: 1.5em;						/*文字を大きめにする*/
	width: 100% !important;					/*画面いっぱいに広げる*/
	height: 100%;							/*画面いっぱいに広げる*/
	line-height: 1.5em;						/*行の高さを文字の大きさにあわせる*/
	text-indent: calc(80% + 0.25em);		/*文字を字下げとしてずらす*/
	background-color: initial !important;	/*背景色を透明に*/
	padding: initial !important;			/*内側の余白をリセット*/
	box-sizing: initial !important;			/*サイズの計測方法をリセット（おそらくcontent）*/
}
#close_menu:hover{/*閉じるボタンにカーソルを合わせる*/
	cursor: pointer;	/*カーソルをポインターに*/
}

#site_title_logo{/*サイトロゴ*/
	margin-left:4vmin;	/*サイトロゴちょっと離す*/
}
#icon_set{/*ページ右上のアイコン*/
	width: calc(45% - 7vmin);	/*余白を調節*/
}

/*--------------------------フッターの設定----------------------------*/
footer{
	border: none;
}

/*------------------------画像表示の設定---------------------------*/
#auto_images div,#auto_images_all div{/*画像・文字・拡大ボタンなど全体*/
	height: initial;	/*高さを画像依存に*/
	padding-bottom: 1%;	/*余白を作る*/
}
#auto_images div span{/*画像と文字のセット*/
	max-width: 100%;	/*幅をいっぱいに広げる*/
}
#auto_images img,#auto_images_all img{/*画像*/
	max-height: initial;	/*高さを元のサイズに*/
	max-width: 100%;		/*幅をいっぱいに広げる（画像サイズが小さければそのまま）*/
}
#auto_images div a{/*ズームボタン*/
	display: none;	/*非表示*/
}
#auto_images_menu{/*右上のメニュー*/
	display:none;	/*非表示*/
}


/*---------------画像表示の設定_一覧バージョン-----------------*/
#auto_images_all div{/*画像・説明文・拡大ボタンなどのまとまり*/
	width: initial;	/*幅を元に戻す*/
	display: block;	/*ブロック要素にする*/
}
#auto_images_all div p{/*説明文*/
	display: block;		/*表示させる*/
	text-align: center;	/*この処置が必要な理由が謎*/
}
#auto_images_all div:hover{/*オンマウスしたときの挙動*/
	border: initial;	/*何もしない*/
}

/*-------------------メインメニューの設定-------------------------*/
.main_menu,.para_menu{/*全体*/
	border-top: 1px dotted lightgray;	/*区切り線（一番上）*/
}
.main_menu a,.para_menu a{/*リンク（ボタン）*/
	min-width: 100%;						/*全体に広げる*/
	padding-top: 0.5em;						/*余白を調整*/
}
.main_menu a::before,.para_menu a::before{/*前の部分*/
	content:initial;	/*アイコンを消す*/
}

/*--------------メインメニュー画像＋テキストの設定-----------------*/
.main_image_text_menu a{/*ボタン*/
  -webkit-flex-direction: row;	/*フレックスボックスを横並びに*/
          flex-direction: row;	
  -webkit-align-items: center;	/*高さを中央で揃える*/
       -ms-flex-align: center;	
          align-items: center;	
	width: 100%;				/*横いっぱいに伸ばす*/
}
.main_image_text_menu a div{/*画像部分*/
	width: 40%;				/*幅*/
	margin-right: 0.5em;	/*右側に余白を空ける*/
}
.main_image_text_menu a span{/*文字の部分*/
	width: calc(60% - 0.5em);	/*余っただけ広げる*/
}

}
/*---------------------------------モバイルの設定ここまで----------------------------------*/



/*-------------------------------アニメーション-----------------------------*/

@keyframes slide_left{/*左からスライドしてくる（ハンバーガーメニューに使用）*/
	from{
		transform: translate(-100%, 0);
	}
	to{
		transform: translate(0, 0);
	}
}

.slide_left{/*左からスライドしてくる*/
	animation: slide_left 0.3s ease-in 0s 1 normal none;
}

.slide_right{/*左からスライドしてくる・逆*/
	animation: slide_left 0.3s ease-in 0s 1 reverse forwards;
}

@keyframes zoom_top{/*上から広がる（ドロップダウンメニューに使用）*/
	from{
		overflow: hidden;
		max-height: 0;
	}
	to{
		overflow: visible;
		max-height: 100%;
	}
}
.zoom_top{/*上から広がる*/
	animation: zoom_top 0.3s ease-in 0s 1 normal none;
}

/*-----------------------------------文字装飾の基本セット------------------------------------*/
.text_size_up{/*フォントサイズを大きめに*/
	font-size: 120%;
}
.text_size_down{/*フォントサイズを小さめに*/
	font-size: 80%;
}
.text_color_red{/*文字色を赤に*/
	color: red;
}
.text_color_blue{/*文字色を青に*/
	color: blue;
}
.text_bold{/*太字に*/
	font-weight: bold;
}
.text_italic{/*車体に*/
	font-style: italic;
}
.text_line_under{/*下線　デザインによって色々変えてみる。色つき線や蛍光ペン風など*/
	text-decoration: underline;
}
.text_line_through{/*取り消し線*/
	text-decoration: line-through;
}
.text_align_center{/*中央揃え*/
	text-align: center;
}
.text_align_left{/*左揃え*/
	text-align: left;
}
.text_align_right{/*右揃え*/
	text-align: right;
}
.text_vertical{/*縦書き*/
	writing-mode: tb-rl;
}
.text_shadow{/*文字に影をつける*/
	text-shadow: 3px 3px 2px gray;
}
.text_contour_white{/*文字に白の囲いをつける*/
	text-shadow: 1px 0px 0px white, -1px 0px 0px white,0px 1px 0px white,0px -1px 0px white;
}
.text_contour_black{/*白抜き文字*/
	color: white;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black,0px 1px 0px black,0px -1px 0px black;
}